:root {
  --black: rgb(29, 27, 27);
  --orange: rgb(231, 145, 5);
  --lightgray: rgb(172, 167, 167);
  --darkgray: rgb(58, 56, 56);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}

.calculator {
  min-height: 600px;
  width: 400px;
  /*min-height: 100vh;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(150px, auto) repeat(5, 1fr);
  background-color: var(--black);
  padding: 5px;
  /* grid-template-areas:
    'output'
    'buttons'
    'buttons'; */
}

.output {
  max-width: 100%;
  grid-column: 1 / -1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  /* grid-area: output; */
  /* display: grid; */
  /* grid-template-areas:
    'calculation'
    'result'
    'result'; */
  /* justify-content: flex-end;
  text-align: end;
  align-items: center; */
}

.calculation {
  font-size: 5px;
  font-size: 30px;
  /* grid-area: calculation; */
}

.result {
  font-size: 50px;
  /* grid-area: result; */
}

button {
  border-radius: 50%;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  background-color: var(--darkgray);
  color: white;
}

button:active,
button:hover {
  background-color: var(--lightgray);
}

#span2 {
  grid-column: span 2;
}

.function {
  background-color: var(--lightgray);
  color: var(--black);
}

.function:active,
.function:hover {
  background-color: white;
}

.operator {
  background-color: var(--orange);
  color: white;
}

.operator:active,
.operator:hover {
  background-color: white;
  color: var(--orange);
}
