:root {
  --black: rgb(29, 27, 27);
  --pink: rgb(214, 20, 240);
  --lightgray: rgb(172, 167, 167);
  --darkgray: rgb(58, 56, 56);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}

.calculator {
  min-height: 600px;
  width: 400px;
  display: grid;
  grid-template-rows: minmax(150px, auto) 1fr;
  background-color: var(--black);
  padding: 5px;
}

.output {
  max-width: 100%;
  /* grid-column: 1 / -1; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.process {
  /* font-size: 5px; */
  font-size: 30px;
}

.result {
  font-size: 50px;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border-radius: 50%;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  background-color: var(--darkgray);
  color: white;
}

button:active,
button:hover {
  background-color: var(--lightgray);
}

.span2 {
  grid-column: span 2;
}

.function {
  background-color: var(--lightgray);
  color: var(--black);
}

.function:active,
.function:hover {
  background-color: white;
}

.operator,
.operator-equal {
  background-color: var(--pink);
  color: white;
}

.operator:active,
.operator-equal:active,
.operator:hover,
.operator-equal:hover,
.operator.isSelected {
  background-color: white;
  color: var(--pink);
}

/* MOBILES */
@media (max-width: 480px) {
  body {
    height: 100vh;
    width: 100vw;
  }

  .calculator {
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    grid-template-rows: minmax(190px, auto) 1fr;
    padding: 0;
  }

  .output {
    justify-content: space-around;
  }

  .process {
    font-size: 20px;
  }

  .buttons {
    width: calc(100% - 10px);
    margin: 5px;
  }

  button {
    margin: 2px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .calculator {
    grid-template-rows: minmax(250px, auto) 1fr;
  }

  .process {
    font-size: 30px;
  }

  .result {
    font-size: 60px;
  }
}
